/* [01] geogle fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: hsl(0, 0%, 98%);
}
.txt-center {
  text-align: center;
}
/* [02] styles of four cards section */
section.four-cards {
  padding: 50px 0;
}
section.four-cards header h3 {
  font-weight: 200;
  font-size: 33px;
  color: hsl(234, 12%, 34%);
}
section.four-cards header h1 {
  font-weight: 600;
  font-size: 33px;
  margin-bottom: 10px;
  color: hsl(234, 12%, 34%);
}
section.four-cards header p {
  width: 60%;
  margin: auto;
  font-size: 13px;
  color: hsl(229, 6%, 66%);
  line-height: 1.6;
}
@media (max-width: 575px) {
  section.four-cards header h3,
  section.four-cards header h1 {
    font-size: 23px;
  }
  section.four-cards header p {
    font-size: 14px;
  }
}
/* [03] styles for cards-container */
.cards-list {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 67px;
}
/* [04] styles for card */
.card {
  border-radius: 5px;
  box-shadow: 2px 8px 14px 0 hsl(229deg 6% 66% / 66%);
  border-top: 4px solid transparent;
  padding: 25px;
  background-color: #fff;
  margin-bottom: 30px;
}
.card .card-info {
  margin-bottom: 30px;
}
.card .card-title {
  font-weight: 600;
  font-size: 20px;
  color: hsl(234, 12%, 34%);
  margin-bottom: 10px;
}
.card p {
  line-height: 1.7;
  font-size: 13px;
  color: hsl(229, 6%, 66%);
  font-weight: 400;
}
.card .card-icon {
  display: flex;
  justify-content: flex-end;
}
.supervisor {
  border-top-color: hsl(180, 62%, 55%);
}
.Team {
  border-top-color: hsl(0, 78%, 62%);
}
.Karma {
  border-top-color: hsl(34, 97%, 64%);
}
.Calculator {
  border-top-color: hsl(212, 86%, 64%);
}
@media (min-width: 768px) {
  section.four-cards header p {
    width: 500px;
    max-width: 100%;
    padding: 0 12px;
  }
  .cards-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }
}

@media (min-width: 1200px) {
  .cards-list {
    padding-left: 121px;
    padding-right: 121px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "supervisor team calc"
      "supervisor karma calc";
  }
  .card {
    margin-bottom: 30px;
  }
  .supervisor {
    grid-area: supervisor;
    align-self: center;
  }

  .Team {
    grid-area: team;
  }
  .karma {
    grid-area: karma;
  }
  .Calculator {
    grid-area: calc;
    align-self: center;
  }
}
/* [05] style for footer section*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
